import os

while True:
    
    file_path = input("Введіть шлях в якому знаходиться файл")
    
    
    if not os.path.isfile(file_path):
        print("Файл не знайдено")
        print("Перевірте чи правильно вказаний шлях")
        continue
    
   
    with open(file_path, 'r') as f:
        
        line_count = 0
        empty_line_count = 0
        z_line_count = 0
        z_count = 0
        and_line_count = 0
        
        
        for line in f:
            line_count += 1
            
            
            if line.strip() == '':
                empty_line_count += 1
            
            
            if 'z' in line:
                z_line_count += 1
                z_count += line.count('z')
                
        
            if 'and' in line:
                and_line_count += 1
                
    
        print("Кількість рядків: ", line_count)
        print("Кількість порожніх рядків: ", empty_line_count)
        print("Кількість рядків з літерою 'z': ", z_line_count)
        print("Кількість літер 'z' у файлі: ", z_count)
        print("Кількість рядків з групою символів 'and': ", and_line_count)


    response = input("Аналізувати ще один файл? (Y/N): ")
    if response.lower() != 'y':
        break